#images {
  padding:20px;
  .image_wrap {
    .docker_image {
      display:flex;
      // justify-content:space-around;
      border:none;
      position:relative;
      padding:8px 55px 8px 15px;
      color:$dark_gray;

      background-color:$blue;
      text-align:left;
      transition: all .3s ease-in-out;
      > * {
        flex:1;
      }
      p, h2, .closer {
        transition: all .3s ease-in-out;
      }
      p {
        margin-bottom: 0;
        font-size:12px;
        color:white;
        text-align:right;
      }
      h2 {
        text-shadow:-1px -1px 1px rgba(123,123,123,.2);
        font-size:18px;
        color:white;
      }
      .names {
        flex:2;
      }
      &:hover {
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        // background-color:rgba(255, 255, 255, .9);
        // background-color:$light_blue;
        // h2 {
        //   color:$black;
        //   text-shadow:none;
        // }
        // p {
        //   color:$dark_gray;
        // }
        .closer {
          color:white;
          opacity:1;
        }
      }

      // span {
      //   position:absolute;
      //   top:0;
      //   bottom:0;
      //   left:0px;
      //   width:8px;
      //   box-shadow: inset -2px 0px 1px rgba(0,0,0,.14);
      //   background-color:$blue;
      // }
    }
  }
  .closer {
    opacity:0;
    position: absolute;
    right: 9px;
    top:9px;
    // top: 50%;
    // transform:translateY(-50%);
    font-size: 18px;
    color:$blue;
    i {
      cursor:pointer;
    }
  }
  // .names {
  //   display:flex;
  //   justify-content: space-between;
  //   width:100%;
  // }
}
