/* Move down content because we have a fixed navbar that is 50px tall */
html, body, h1, p, h2, h3 {
  padding:0;margin:0;
  font-weight: 300;
}
body {
  background: linear-gradient(to bottom,  rgba(188,188,188,.6) 0%,rgba(229,229,229,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  font-family: 'Open Sans', sans-serif;
}
a {
  color:rgba(0,170,229,1);
}
code {
  background-color:rgba(123,123,123,.3);
  padding: 2px 4px;
}


.navbar {
  padding:10px 20px 10px 20px;
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid rgba(123,123,123,.8);
  h2 {
    font-size:16px;
  }
  .current_profile {
    display:flex;
    flex-direction: row;
    .unset {
      display:none;
    }
    .fa-caret-down {
      padding:4px 12px;
      cursor:pointer;

    }

    &.elevated {
      p, .fa-caret-down {
        color:$blue;

      }
      .fa-caret-down {
        &:hover {
          color:$dark_blue;
        }
      }

    }
    form {
      margin-bottom: 0;
    }
  }
}
.unset {
  // background-color:rgba(123,0,0,1);
  border:none;
  background-color:transparent;
  color:rgba(123,0,0,1);
  border-radius:10px;
  transition: background-color .1s ease-in-out;
  margin:2px 0 10px 14px;
  font-size:12px;
  &:hover {
    color:rgba(40,0,0,1);
    cursor:pointer;
  }
}
