.navbar {
  // padding:20px 20px 20px 20px;
  display:flex;
  position:fixed;
  justify-content: space-between;
  background:white;

  top:0;right:0;left:0;
  z-index:10;
  // border-bottom:1px solid rgba(123,123,123,.8);
  box-shadow:1px 1px 1px rgba(0,0,0,.3);
  h2 {
    font-size:16px;
  }
  .current_profile {
    display:flex;
    flex-direction: row;
    padding:20px 20px;
    color:$blue;
    .unset {
      display:none;
    }
    .fa-caret-down {
      padding:4px 10px;
      cursor:pointer;
      color:$black;
      &:hover {
        color:$dark_blue;
      }
    }
    &.elevated {
      p, .fa-caret-down {
        color:$blue;
      }
      .fa-caret-down {
        &:hover {
          color:$dark_blue;
        }
      }

    }
    form {
      margin-bottom: 0;
    }
  }
  .sections {
    li {
      padding:20px 20px;
      letter-spacing:1px;
    }
    .logo {
      padding-left: 24px;
      font-size:24px;
      color:$blue;
      margin-right:40px;
      // text-shadow:-1px -1px 1px rgba(0,0,0,.2);
      // font-family: 'Paytone One', sans-serif;
    }
    .local, .cloud {
      a {
        color:$blue;
        font-size:20px;
        padding:20px 20px;
        transition: color .2s ease-in-out;
        font-weight:100;
        &:hover {
          cursor:pointer;
          color:$black;
        }
      }
      &.active {
        background-color:$blue;

        &:hover {
          cursor:pointer;
          color:$dark_blue;
        }
        a {
          color:white;
        }
      }

    }
  }

}
.subnav {
  padding-top: 70px;
  padding: 76px 0 10px 20px;
  position:relative;
  background-color:$blue;
  ul {

    &.active {
      display:flex;

    }
    li {
      cursor:pointer;
      margin-left:0px;
      margin-right:20px;
      padding: 4px 10px 5px 10px;
      border-radius: 2px;
      font-weight:100;
      letter-spacing:1px;
      color:white;
      i {
        position:relative;
        top:2px;
        margin-right:6px;
      }
      .fa-codepen {
        top:0;

      }
      &:hover {
        color:rgba(233,233,233,1);
      }
      &.active {
        box-shadow:inset 1px 1px 1px rgba(0,0,0,.2);
        background-color:white;
        color:$blue;
      }
    }
  }
}
