



.title {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  line-height: normal;

}
.wrap {
  h1 {
    margin-left:10px;
    color:white;
  }
}
.help {



  margin-top:10px;
  padding-right:57px;
  a {
    text-align:right;
    display:block;

    text-decoration: underline;
    font-size:14px;
    font-weight:100;
    width:100%;
  }
  a:hover {
    color:rgba(123,123,123,.9);
  }
}
#assumerole {
  margin-top:20vh;

  h2 {
    // text-shadow:-1px -1px 1px rgba(255,255,255,.5);
    // display:inline-block;
    // margin-top:0px;
    font-size:1.78rem;
    font-weight:100;
    width: 100%;
    color:$black;
    text-align:center;
    margin-bottom:4px;
  }
  form {
    position:relative;
    overflow:hidden;
    min-width:0;
  }

  .mfa {
    /*background-color:rgba(0,170,229,1);*/
    transition: all .2s ease-in-out;
    color:rgba(123,123,123,.9);
    box-shadow:inset 1px 1px 1px rgba(12,12,12,.3);
    width:100%;
    border-radius:4px;
    font-weight:100;
    font-size:26px;
    text-align:center;
    padding:4px 14px 6px 14px;
    border:none;
    &:focus {
      outline:none;
    }
  }
  .mfa {
    width:290px;
    margin-top:10px;
    color:$black;
  }
  .box {
    background:transparent;
    border:transparent;
    padding:0;
  }
  .button {
    width:290px;
    margin:10px;
    border:transparent;
    background-color:$blue;
    border-radius: 4px;
    box-shadow:1px 1px 1px rgba(117,117,122,.3);
    color:white;
    font-weight:100;
    margin-bottom:0px;
    &:focus {
      outline:none;
    }
    &:hover {
      cursor:pointer;
      background-color:$dark_blue;
      color:white;
    }
    &:active {
      box-shadow:inset 1px 1px 1px rgba(0,0,0,.3);
    }
    &.reset {
      background-color:rgba(123,0,0,.4);
      &:hover {
        // background-color:rgba(123,0,0,1);
      }
    }
  }
}

#logging_in {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue;
  opacity: 0;
  transition:opacity .4s ease-in-out;
  &.opening {
    z-index:1;
    opacity:1;
  }
}
#ex1 p {
  margin-bottom:10px;
}
