$red: rgb(237, 76, 87);
$dark_red: rgb(178, 56, 45);
$blue: rgb(0,170,229);
$dark_blue: rgb(0,78,123);
$light_blue: rgb(145,223,255);
// $light_gray: transparent);
$gray: rgba(123,123,123,.3);
$dark_gray: rgba(123,123,123,1);
$black: rgb(70,70,70);
$green: rgba(0,200,0,.9);
$yellow: rgba(232, 244, 6,1);
