<div id="main" class="index">
  <%= erb :navbar %>
  <my-subnav
    current-page="<%= request.path_info %>"
    v-bind:subpage="current.subpage"
    v-bind:change-cloud-subpage="changeCloudSubpage"
    v-bind:change-local-subpage="changeLocalSubpage">
  </my-subnav>
  <my-builds v-if="current.subpage.cloud === 'build'"></my-builds>
  <my-code
     v-if="current.subpage.cloud === 'commit'"
     :commits="commits">

  </my-code>
  <my-deploys v-if="current.subpage.cloud === 'deploy'" ></my-depoys>

</div>
