<div id="the_component" class="index">
  <nav class="navbar">
    <h2>Docker // AWS</h2>

    <div class="current_profile <%= 'elevated' if session[:elevated]  %>">
      <p>
        <i class="fa <%= session[:elevated] ? 'fa-superpowers' : 'fa-user-circle' %>" aria-hidden="true"></i> <%= current_profile %>
      </p>
      <form method='POST' action='/profile'>
        <!-- <input type='hidden' name='role' value=''></input> -->
        <input class="unset" type='submit' name="unset" value='log out'></input>
        <i class='fa fa-caret-down'></i>
      </form>
    </div>
  </nav>
  <div id="containers" class="row">
    <div v-for="container in cleaned_containers" class="container_wrap col-lg-6 col-sm-12 col-xs-12">
      <my-container
        :container="container"
        :open-modal="openModal">
      </my-container>
    </div>
  </div>
  <div v-if="editing" class="modal_overlay">
    <container-modal :editing="editing" :cancel-modal="cancelModal" :current="current"></container-modal>
    <aws-modal
      :roles="roles"
      :role-prefix="rolePrefix"
      :editing="editing"
      :cancel-modal="cancelModal"
      :current="current"
      current-profile="<%= current_profile %>"
    >
    </aws-modal>
  </div>
  </div>
</div>
