<div id="main" class="index">
  <%= erb :navbar %>

  <my-subnav
    current-page="<%= request.path_info %>"
    v-bind:subpage="current.subpage"
    v-bind:change-cloud-subpage="changeCloudSubpage"
    v-bind:change-local-subpage="changeLocalSubpage">

  </my-subnav>


  <div v-if="current.subpage.local === 'images'" id="images" class="row">
    <div v-for="image in cleaned_images" class="image_wrap col-lg-6 col-sm-6 col-xs-12">
      <my-image
        :image="image"
      >
      </my-image>
    </div>

  </div>
  <div v-if="current.subpage.local === 'containers'" id="containers" class="row">
    <div v-for="container in cleaned_containers" class="container_wrap col-lg-6 col-sm-12 col-xs-12">
      <my-container
        :container="container"
        :open-modal="openModal">
      </my-container>
    </div>
  </div>
  <div v-if="editing" class="modal_overlay">
    <container-modal :editing="editing" :cancel-modal="cancelModal" :current="current"></container-modal>
    <aws-modal
      :roles="roles"
      :role-prefix="rolePrefix"
      :editing="editing"
      :cancel-modal="cancelModal"
      :current="current"
      current-profile="<%= :current_profile %>"
    >
    </aws-modal>
  </div>
  </div>
</div>
