
<div class="wrap profile">
  
  <div id='assumerole'>
      <h2>select your AWS profile</h2>
      <div class="form">
        <div class="row">
        <% profiles.each do |profile|%>
          <div class="box col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <input type="submit" name="profile" class="button" value="<%= profile %>" />
          </div>
        <% end %>
        <!-- <input type="button" name="profile" class="reset button" value="reset"/> -->
        <div class="box col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <input type="input" name="profile_mfa" class="mfa" placeholder="mfa token" />
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 help"><a class="" href="#ex1" rel="modal:open">why?</a></div>
  </div>

 <div id="ex1" style="display:none;">
   <h2>why do you need an MFA token?</h2>
   <p>In order to access some AWS resources, you may need to use your MFA token within the profile selected. If you don't use this, your access may be limited to 3 hours vs 3 days. That's kinda nice.</p>
   <h2>why?</h2>
   <p>
     The docker AWS proxy service allows us to simulate what conditions will exist in a container running on an EC2 instance within AWS. We can assume roles for our containers, giving them the ability to query the ec2 metadata service locally on your own machine!</p>
     <p>Docker AWS Proxy supports multiple profiles which are discovered from <code>~/.aws/credentials</code>.  Select the profile here and it will be used to authorize future requets
     listing and assuming the roles and discovering your MFA token's serial.
   </p>
  <br><a href="#" rel="modal:close">Close</a> or press ESC</p>
 </div>


 <div id="logging_in">
   <div class="loading"></div>

 </div>
</div>
