<div>
  <h1>Error with docker / aws.</h1>
  <h2>Restart docker and you should be fine. There's a clock problem with docker and aws signed requests. When your computer goes into sleep mode, this skews that clock and it takes a bit to sync. </h2>
</div>
